
table {
    width: 100%;
  }
  th, td {
    border: 1px solid #dad019;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #963434;
  }
  
  /* Apply pseudo-classes */
  p:first-child{
    color: rgb(27, 160, 129);
    font-size: larger;
  }
  
  td.lst-child:last-child{
    background-color: pink;
  
  }
  
  
  tr:nth-child(even) {
    background-color: #d79417;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  a:hover{
    color: rgb(225, 14, 109);
  }
  
  a:visited{
    color: blueviolet;
  }
  
  a:active{
    background-color: yellow;
  }
  
  /* Apply pseudo element*/
  td.after::after{
    /* content: "(Jo contect css me hoga vo line ke ending m join ho jarega)"; */
    content: "Ayushi";
    color: red;
  }
  
  td.before::before{
    /* content: "(Jo contect css me hoga vo line ke starting m join ho jarega)"; */
    content: "Ayushi";
    color: brown;
  }
  
  td.first-letter::first-letter{
    color: blue;
    font-size: larger;
  }
  
  td.first-line::first-line{
    color: orangered;
    font-size: larger;
  }
  
  ::marker{
    color: rgb(143, 20, 232);
  }
  