body {
    background: rgb(40,42,80);
    background: linear-gradient(90deg, rgba(40,42,80,1) 0%, rgba(109,64,210,1) 100%);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgba(255, 255, 255);
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    max-width: 75%;
}

li {
    padding: 2px;
}