<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Tailwind CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex justify-center items-center">
    <div class="max-w-md w-full bg-yellow-500 p-8 rounded-lg shadow-lg hover:s">
        <h2 class="text-2xl font-semibold mb-4 block text-white">Sign Up</h2>
        <form action="/newUser" method="POST">
            <div class="mb-4">
                <label for="name" class="block text-white">Name:</label>
                <input type="text" id="name" name="name" class="form-input mt-1 p-1 block w-full rounded-lg" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-white">Email:</label>
                <input type="email" id="email" name="email" class="form-input mt-1 p-1 block w-full rounded-lg" required>
            </div>
            <button type="submit"
                class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition duration-200">Sign
                Up</button>
        </form>
    </div>
</body>

</html>
