<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- Tailwind CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex justify-center items-center">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-2xl">
        <h2 class="text-2xl font-semibold mb-4">User Details</h2>
        <div class="mb-4">
            <p><span class="font-semibold">Name:</span> {{ name }}</p>
            <p><span class="font-semibold">Email:</span> {{ email }}</p>
            <p><span class="font-semibold">Username:</span> {{ username }}</p>
        </div>
    </div>
</body>

</html>
